<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[TITLE]</title>
<link rel="stylesheet" type="text/css" media="all" href="[STYLESHEET]" />
<link rel="stylesheet" type="text/css" media="all" href="[STYLESHEET2]" />
</head>
<body>
[PRE]
<div id="blogtopdf">
	<div class="site-content" id="primary">
		<div id="content">
			<article class="page type-page status-publish hentry">
				<div style="text-align:center;">
					<h1 class="blogtopdf-title">[TITLE]</h1>
					<img src="[IMAGEURL]" />
				</div>
				<div class="entry-content" id="blogtopdf-toc">
					[TOC]
				</div><!-- .entry-content -->
				<div class="entry-content" id="blogtopdf-content">
					[CONTENT]
				</div><!-- .entry-content -->
			</article><!-- #post -->
		</div><!-- #content -->
	</div><!-- #site-content -->
</div><!--  #blogtopdf -->
[POST]
</body>
</html>